body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:antiquewhite;
}

h1 {
    text-align: center;
    color: #333;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    background-color:#333;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:black;
}

/* Styling for the div where data will be displayed */
#data-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
}

.data-item {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}